In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.metrics import brier_score_loss, mean_squared_error

In [ ]:

folder_path = './kaggle_data'  # CSV 파일들이 들어있는 폴더 경로
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

file_info_list = []

for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # (1) 전체 CSV를 읽지 않고 헤더만 읽을 수도 있음
    #     nrows=0 옵션을 주면 헤더만 읽어서 컬럼명만 가져올 수 있음
    df_header = pd.read_csv(file_path, nrows=0, encoding='cp949')
    
    # (2) 컬럼 이름 추출
    columns = df_header.columns.tolist()
    
    # (3) 각 파일의 정보(파일명, 컬럼 리스트)를 저장
    file_info_list.append({
        'file_name': csv_file,
        'columns': columns
    })

# 이제 file_info_list에는 [{'file_name':..., 'columns':[...]}, ...] 형태로 저장됨
summary_df = pd.DataFrame(file_info_list)
summary_df

,file_name,columns
0,Cities.csv,"[CityID, City, State]"
1,Conferences.csv,"[ConfAbbrev, Description]"
2,MConferenceTourneyGames.csv,"[Season, ConfAbbrev, DayNum, WTeamID, LTeamID]"
3,MGameCities.csv,"[Season, DayNum, WTeamID, LTeamID, CRType, Cit..."
4,MMasseyOrdinals.csv,"[Season, RankingDayNum, SystemName, TeamID, Or..."
5,MNCAATourneyCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
6,MNCAATourneyDetailedResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
7,MNCAATourneySeedRoundSlots.csv,"[Seed, GameRound, GameSlot, EarlyDayNum, LateD..."
8,MNCAATourneySeeds.csv,"[Season, Seed, TeamID]"
9,MNCAATourneySlots.csv,"[Season, Slot, StrongSeed, WeakSeed]"
10,MRegularSeasonCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
11,MRegularSeasonDetailedResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
12,MSeasons.csv,"[Season, DayZero, RegionW, RegionX, RegionY, R..."
13,MSecondaryTourneyCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
14,MSecondaryTourneyTeams.csv,"[Season, SecondaryTourney, TeamID]"
15,MTeamCoaches.csv,"[Season, TeamID, FirstDayNum, LastDayNum, Coac..."
16,MTeamConferences.csv,"[Season, TeamID, ConfAbbrev]"
17,MTeams.csv,"[TeamID, TeamName, FirstD1Season, LastD1Season]"
18,MTeamSpellings.csv,"[TeamNameSpelling, TeamID]"
19,SampleSubmissionStage1.csv,"[ID, Pred]"
20,SampleSubmissionStage2.csv,"[ID, Pred]"
21,SeedBenchmarkStage1.csv,"[ID, Pred]"
22,WConferenceTourneyGames.csv,"[Season, ConfAbbrev, DayNum, WTeamID, LTeamID]"
23,WGameCities.csv,"[Season, DayNum, WTeamID, LTeamID, CRType, Cit..."
24,WNCAATourneyCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
25,WNCAATourneyDetailedResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
26,WNCAATourneySeeds.csv,"[Season, Seed, TeamID]"
27,WNCAATourneySlots.csv,"[Season, Slot, StrongSeed, WeakSeed]"
28,WRegularSeasonCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
29,WRegularSeasonDetailedResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
30,WSeasons.csv,"[Season, DayZero, RegionW, RegionX, RegionY, R..."
31,WSecondaryTourneyCompactResults.csv,"[Season, DayNum, WTeamID, WScore, LTeamID, LSc..."
32,WSecondaryTourneyTeams.csv,"[Season, SecondaryTourney, TeamID]"
33,WTeamConferences.csv,"[Season, TeamID, ConfAbbrev]"
34,WTeams.csv,"[TeamID, TeamName]"
35,WTeamSpellings.csv,"[TeamNameSpelling, TeamID]"

In [3]:
#파일 추출
summary_df['columns_str'] = summary_df['columns'].apply(lambda lst: ', '.join(lst))
summary_df[['file_name', 'columns_str']].to_csv('file_column_summary_default.csv', index=False)

In [4]:
#Team과 Team ID 매칭 남자 Part

# 📌 1. 남자부 경기 데이터 로드
m_games_df = pd.concat([
    pd.read_csv("./kaggle_data/MRegularSeasonCompactResults.csv"),
    pd.read_csv("./kaggle_data/MNCAATourneyCompactResults.csv")
], ignore_index=True)

# 📌 2. 남자부 팀 정보 로드
m_teams_df = pd.read_csv("./kaggle_data/MTeams.csv")

# 📌 3. 팀ID → 팀이름 매핑
m_games_df = m_games_df.merge(m_teams_df[['TeamID', 'TeamName']], left_on="WTeamID", right_on="TeamID", how="left")
m_games_df = m_games_df.rename(columns={"TeamName": "WTeamName"}).drop(columns=["TeamID"])

m_games_df = m_games_df.merge(m_teams_df[['TeamID', 'TeamName']], left_on="LTeamID", right_on="TeamID", how="left")
m_games_df = m_games_df.rename(columns={"TeamName": "LTeamName"}).drop(columns=["TeamID"])

# 📌 4. 시드 정보 추가
m_seeds_df = pd.read_csv("./kaggle_data/MNCAATourneySeeds.csv")
m_games_df = m_games_df.merge(m_seeds_df[['Season', 'TeamID', 'Seed']], left_on=['Season', 'WTeamID'], right_on=['Season', 'TeamID'], how="left")
m_games_df = m_games_df.rename(columns={"Seed": "WSeed"}).drop(columns=["TeamID"])

m_games_df = m_games_df.merge(m_seeds_df[['Season', 'TeamID', 'Seed']], left_on=['Season', 'LTeamID'], right_on=['Season', 'TeamID'], how="left")
m_games_df = m_games_df.rename(columns={"Seed": "LSeed"}).drop(columns=["TeamID"])

# 📌 5. 성별 컬럼 추가
m_games_df["Sex"] = "M"

# ✅ 저장
# m_games_df.to_csv("merged_men_games.csv", index=False)

In [5]:
m_teams_df = pd.read_csv("./kaggle_data/MTeams.csv")
import pandas as pd

file_path = "./kaggle_data/SampleSubmissionStage1.csv"

# 파일의 첫 5줄만 읽기
df = pd.read_csv(file_path, nrows=5)

# 파일 크기 확인
print(f"파일 크기: {df.shape[0]} 행, {df.shape[1]} 열")
print(df.head())

파일 크기: 5 행, 2 열
               ID  Pred
0  2021_1101_1102   0.5
1  2021_1101_1103   0.5
2  2021_1101_1104   0.5
3  2021_1101_1105   0.5
4  2021_1101_1106   0.5

In [6]:
import os
import pandas as pd

folder_path = "./kaggle_data/"  # CSV 파일이 있는 폴더 경로
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# CSV 파일을 자동으로 변수에 할당
for csv_file in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # 파일명을 변수명으로 변환 (확장자 제거하고 _로 치환)
    var_name = os.path.splitext(csv_file)[0].replace(" ", "_").replace("-", "_").lower()
    
    # CSV 읽어서 변수에 할당
    globals()[var_name] = pd.read_csv(file_path, encoding='cp949')

    print(f"Loaded {csv_file} as variable: {var_name}")

# 예시 출력

Loaded Cities.csv as variable: cities
Loaded Conferences.csv as variable: conferences
Loaded MConferenceTourneyGames.csv as variable: mconferencetourneygames
Loaded MGameCities.csv as variable: mgamecities
Loaded MMasseyOrdinals.csv as variable: mmasseyordinals
Loaded MNCAATourneyCompactResults.csv as variable: mncaatourneycompactresults
Loaded MNCAATourneyDetailedResults.csv as variable: mncaatourneydetailedresults
Loaded MNCAATourneySeedRoundSlots.csv as variable: mncaatourneyseedroundslots
Loaded MNCAATourneySeeds.csv as variable: mncaatourneyseeds
Loaded MNCAATourneySlots.csv as variable: mncaatourneyslots
Loaded MRegularSeasonCompactResults.csv as variable: mregularseasoncompactresults
Loaded MRegularSeasonDetailedResults.csv as variable: mregularseasondetailedresults
Loaded MSeasons.csv as variable: mseasons
Loaded MSecondaryTourneyCompactResults.csv as variable: msecondarytourneycompactresults
Loaded MSecondaryTourneyTeams.csv as variable: msecondarytourneyteams
Loaded MTeamCoaches.csv as variable: mteamcoaches
Loaded MTeamConferences.csv as variable: mteamconferences
Loaded MTeams.csv as variable: mteams
Loaded MTeamSpellings.csv as variable: mteamspellings
Loaded SampleSubmissionStage1.csv as variable: samplesubmissionstage1
Loaded SampleSubmissionStage2.csv as variable: samplesubmissionstage2
Loaded SeedBenchmarkStage1.csv as variable: seedbenchmarkstage1
Loaded WConferenceTourneyGames.csv as variable: wconferencetourneygames
Loaded WGameCities.csv as variable: wgamecities
Loaded WNCAATourneyCompactResults.csv as variable: wncaatourneycompactresults
Loaded WNCAATourneyDetailedResults.csv as variable: wncaatourneydetailedresults
Loaded WNCAATourneySeeds.csv as variable: wncaatourneyseeds
Loaded WNCAATourneySlots.csv as variable: wncaatourneyslots
Loaded WRegularSeasonCompactResults.csv as variable: wregularseasoncompactresults
Loaded WRegularSeasonDetailedResults.csv as variable: wregularseasondetailedresults
Loaded WSeasons.csv as variable: wseasons
Loaded WSecondaryTourneyCompactResults.csv as variable: wsecondarytourneycompactresults
Loaded WSecondaryTourneyTeams.csv as variable: wsecondarytourneyteams
Loaded WTeamConferences.csv as variable: wteamconferences
Loaded WTeams.csv as variable: wteams
Loaded WTeamSpellings.csv as variable: wteamspellings

In [7]:
import os
import re
import pandas as pd

folder_path = "./kaggle_data/"  # CSV 파일이 있는 폴더 경로

# 폴더 존재 여부 확인
if not os.path.exists(folder_path):
    print(f"❌ Error: Folder '{folder_path}' not found.")
else:
    # CSV 파일 목록 가져오기
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

    # 데이터 저장을 위한 딕셔너리 생성
    data_dict = {}

    # CSV 파일을 자동으로 변수에 할당
    for csv_file in csv_files:
        file_path = os.path.join(folder_path, csv_file)
        
        # 안전한 변수명 생성 (공백, 특수문자 제거)
        var_name = re.sub(r'[^a-zA-Z0-9_]', '_', os.path.splitext(csv_file)[0]).lower()
        
        try:
            # 여러 인코딩 시도 (utf-8, latin1, cp949)
            for encoding in ["utf-8", "latin1", "cp949"]:
                try:
                    df = pd.read_csv(file_path, encoding=encoding)
                    break  # 정상적으로 로드되면 반복 종료
                except UnicodeDecodeError:
                    continue  # 다른 인코딩으로 재시도
            
            # 데이터 저장 (딕셔너리 방식)
            data_dict[var_name] = df
            print(f"✅ Loaded {csv_file} as variable: data_dict['{var_name}']")

        except Exception as e:
            print(f"❌ Error loading {csv_file}: {e}")

    # 📌 데이터 목록 출력
    print("\n📌 Available datasets:")
    for key, value in data_dict.items():
        print(f"  - {key}: {value.shape} columns: {list(value.columns)}")

    # ✅ 예제: 특정 데이터 접근
    # df_regular_season = data_dict["mregularseasondetailedresults"]

✅ Loaded Cities.csv as variable: data_dict['cities']
✅ Loaded Conferences.csv as variable: data_dict['conferences']
✅ Loaded MConferenceTourneyGames.csv as variable: data_dict['mconferencetourneygames']
✅ Loaded MGameCities.csv as variable: data_dict['mgamecities']
✅ Loaded MMasseyOrdinals.csv as variable: data_dict['mmasseyordinals']
✅ Loaded MNCAATourneyCompactResults.csv as variable: data_dict['mncaatourneycompactresults']
✅ Loaded MNCAATourneyDetailedResults.csv as variable: data_dict['mncaatourneydetailedresults']
✅ Loaded MNCAATourneySeedRoundSlots.csv as variable: data_dict['mncaatourneyseedroundslots']
✅ Loaded MNCAATourneySeeds.csv as variable: data_dict['mncaatourneyseeds']
✅ Loaded MNCAATourneySlots.csv as variable: data_dict['mncaatourneyslots']
✅ Loaded MRegularSeasonCompactResults.csv as variable: data_dict['mregularseasoncompactresults']
✅ Loaded MRegularSeasonDetailedResults.csv as variable: data_dict['mregularseasondetailedresults']
✅ Loaded MSeasons.csv as variable: data_dict['mseasons']
✅ Loaded MSecondaryTourneyCompactResults.csv as variable: data_dict['msecondarytourneycompactresults']
✅ Loaded MSecondaryTourneyTeams.csv as variable: data_dict['msecondarytourneyteams']
✅ Loaded MTeamCoaches.csv as variable: data_dict['mteamcoaches']
✅ Loaded MTeamConferences.csv as variable: data_dict['mteamconferences']
✅ Loaded MTeams.csv as variable: data_dict['mteams']
✅ Loaded MTeamSpellings.csv as variable: data_dict['mteamspellings']
✅ Loaded SampleSubmissionStage1.csv as variable: data_dict['samplesubmissionstage1']
✅ Loaded SampleSubmissionStage2.csv as variable: data_dict['samplesubmissionstage2']
✅ Loaded SeedBenchmarkStage1.csv as variable: data_dict['seedbenchmarkstage1']
✅ Loaded WConferenceTourneyGames.csv as variable: data_dict['wconferencetourneygames']
✅ Loaded WGameCities.csv as variable: data_dict['wgamecities']
✅ Loaded WNCAATourneyCompactResults.csv as variable: data_dict['wncaatourneycompactresults']
✅ Loaded WNCAATourneyDetailedResults.csv as variable: data_dict['wncaatourneydetailedresults']
✅ Loaded WNCAATourneySeeds.csv as variable: data_dict['wncaatourneyseeds']
✅ Loaded WNCAATourneySlots.csv as variable: data_dict['wncaatourneyslots']
✅ Loaded WRegularSeasonCompactResults.csv as variable: data_dict['wregularseasoncompactresults']
✅ Loaded WRegularSeasonDetailedResults.csv as variable: data_dict['wregularseasondetailedresults']
✅ Loaded WSeasons.csv as variable: data_dict['wseasons']
✅ Loaded WSecondaryTourneyCompactResults.csv as variable: data_dict['wsecondarytourneycompactresults']
✅ Loaded WSecondaryTourneyTeams.csv as variable: data_dict['wsecondarytourneyteams']
✅ Loaded WTeamConferences.csv as variable: data_dict['wteamconferences']
✅ Loaded WTeams.csv as variable: data_dict['wteams']
✅ Loaded WTeamSpellings.csv as variable: data_dict['wteamspellings']

📌 Available datasets:
  - cities: (502, 3) columns: ['CityID', 'City', 'State']
  - conferences: (51, 2) columns: ['ConfAbbrev', 'Description']
  - mconferencetourneygames: (6491, 5) columns: ['Season', 'ConfAbbrev', 'DayNum', 'WTeamID', 'LTeamID']
  - mgamecities: (85534, 6) columns: ['Season', 'DayNum', 'WTeamID', 'LTeamID', 'CRType', 'CityID']
  - mmasseyordinals: (5489117, 5) columns: ['Season', 'RankingDayNum', 'SystemName', 'TeamID', 'OrdinalRank']
  - mncaatourneycompactresults: (2518, 8) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']
  - mncaatourneydetailedresults: (1382, 34) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
  - mncaatourneyseedroundslots: (776, 5) columns: ['Seed', 'GameRound', 'GameSlot', 'EarlyDayNum', 'LateDayNum']
  - mncaatourneyseeds: (2558, 3) columns: ['Season', 'Seed', 'TeamID']
  - mncaatourneyslots: (2519, 4) columns: ['Season', 'Slot', 'StrongSeed', 'WeakSeed']
  - mregularseasoncompactresults: (191796, 8) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']
  - mregularseasondetailedresults: (117748, 34) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
  - mseasons: (41, 6) columns: ['Season', 'DayZero', 'RegionW', 'RegionX', 'RegionY', 'RegionZ']
  - msecondarytourneycompactresults: (1809, 9) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'SecondaryTourney']
  - msecondarytourneyteams: (1836, 3) columns: ['Season', 'SecondaryTourney', 'TeamID']
  - mteamcoaches: (13533, 5) columns: ['Season', 'TeamID', 'FirstDayNum', 'LastDayNum', 'CoachName']
  - mteamconferences: (13388, 3) columns: ['Season', 'TeamID', 'ConfAbbrev']
  - mteams: (380, 4) columns: ['TeamID', 'TeamName', 'FirstD1Season', 'LastD1Season']
  - mteamspellings: (1177, 2) columns: ['TeamNameSpelling', 'TeamID']
  - samplesubmissionstage1: (507108, 2) columns: ['ID', 'Pred']
  - samplesubmissionstage2: (131407, 2) columns: ['ID', 'Pred']
  - seedbenchmarkstage1: (507108, 2) columns: ['ID', 'Pred']
  - wconferencetourneygames: (6113, 5) columns: ['Season', 'ConfAbbrev', 'DayNum', 'WTeamID', 'LTeamID']
  - wgamecities: (82329, 6) columns: ['Season', 'DayNum', 'WTeamID', 'LTeamID', 'CRType', 'CityID']
  - wncaatourneycompactresults: (1650, 8) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']
  - wncaatourneydetailedresults: (894, 34) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
  - wncaatourneyseeds: (1676, 3) columns: ['Season', 'Seed', 'TeamID']
  - wncaatourneyslots: (1713, 4) columns: ['Season', 'Slot', 'StrongSeed', 'WeakSeed']
  - wregularseasoncompactresults: (135948, 8) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']
  - wregularseasondetailedresults: (80626, 34) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
  - wseasons: (28, 6) columns: ['Season', 'DayZero', 'RegionW', 'RegionX', 'RegionY', 'RegionZ']
  - wsecondarytourneycompactresults: (828, 9) columns: ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'SecondaryTourney']
  - wsecondarytourneyteams: (824, 3) columns: ['Season', 'SecondaryTourney', 'TeamID']
  - wteamconferences: (9490, 3) columns: ['Season', 'TeamID', 'ConfAbbrev']
  - wteams: (378, 2) columns: ['TeamID', 'TeamName']
  - wteamspellings: (1170, 2) columns: ['TeamNameSpelling', 'TeamID']

In [8]:
print(mconferencetourneygames.head())

   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273

In [9]:
# 데이터 딕셔너리에서 필요한 데이터 가져오기
regular_season_df = data_dict.get("mregularseasondetailedresults", None)
conference_tourney_df = data_dict.get("mconferencetourneygames", None)
ncaa_tourney_df = data_dict.get("mncaatourneydetailedresults", None)

# 데이터가 정상적으로 로드되었는지 확인
if regular_season_df is None or conference_tourney_df is None or ncaa_tourney_df is None:
    raise ValueError("❌ 필요한 데이터가 로드되지 않았습니다. 데이터 딕셔너리를 확인하세요.")

# 사용할 공통 컬럼 (컨퍼런스 토너먼트 데이터에는 일부 컬럼이 없음)
common_columns = [
    "Season", "DayNum", "WTeamID", "WScore", "LTeamID", "LScore", "WLoc", "NumOT"
   
]

# 컨퍼런스 토너먼트 데이터에 부족한 컬럼을 추가 (0으로 채움)
conference_tourney_expanded = conference_tourney_df.copy()
conference_tourney_expanded["WScore"] = 0
conference_tourney_expanded["LScore"] = 0
conference_tourney_expanded["WLoc"] = "N"  # 중립 경기장 가정
conference_tourney_expanded["NumOT"] = 0

# 나머지 컬럼을 0으로 채우기
for col in common_columns:
    if col not in conference_tourney_expanded.columns:
        conference_tourney_expanded[col] = 0

# 컬럼 순서 맞추기
conference_tourney_expanded = conference_tourney_expanded[common_columns]

# 각 데이터셋에 Tournament_Type 추가
regular_season_df["Tournament_Type"] = "Regular"
conference_tourney_expanded["Tournament_Type"] = "Conference"
ncaa_tourney_df["Tournament_Type"] = "NCAA"

# 데이터 통합 (행 기준 결합)
merged_data = pd.concat([
    regular_season_df, 
    conference_tourney_expanded, 
    ncaa_tourney_df
], ignore_index=True)

# 최신 3년(2023~2025) 데이터만 필터링
latest_season = 2025
selected_seasons = [latest_season, latest_season - 1, latest_season - 2]
filtered_data = merged_data[merged_data["Season"].isin(selected_seasons)]

# 데이터 확인

print(filtered_data.head())

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  \
102032    2023       7     1101      65     1238      56    H      0  23.0
102033    2023       7     1103      81     1355      80    H      1  30.0
102034    2023       7     1104      75     1255      54    H      0  27.0
102035    2023       7     1112     117     1311      75    H      0  38.0
102036    2023       7     1113      62     1470      59    H      0  21.0

        WFGA  ...  LFTM  LFTA   LOR   LDR  LAst   LTO  LStl  LBlk   LPF  \
102032  57.0  ...  10.0  14.0   7.0  33.0   9.0  21.0   6.0   1.0  21.0
102033  69.0  ...  14.0  17.0   5.0  28.0  11.0  12.0   3.0   4.0  15.0
102034  69.0  ...  11.0  19.0  12.0  23.0   8.0   9.0   8.0   3.0  22.0
102035  53.0  ...  10.0  22.0   8.0  14.0  11.0  16.0  17.0   1.0  29.0
102036  62.0  ...  19.0  32.0   5.0  28.0  10.0  17.0  12.0   4.0  27.0

        Tournament_Type
102032          Regular
102033          Regular
102034          Regular
102035          Regular
102036          Regular

[5 rows x 35 columns]

In [10]:
# MTeamSpellings 데이터 가져오기 (팀 ID와 팀명을 매칭하는 데이터)
team_spellings_df = data_dict.get("mteamspellings", None)

# 데이터가 정상적으로 로드되었는지 확인
if team_spellings_df is None:
    raise ValueError("❌ MTeamSpellings 데이터가 로드되지 않았습니다.")

# TeamID와 TeamName 매핑 생성
team_id_map = team_spellings_df.groupby("TeamID")["TeamNameSpelling"].first().to_dict()

# 🎯 새로운 데이터프레임을 만들면서 WTeamName, LTeamName을 원하는 위치에 삽입
filtered_data = filtered_data.assign(
    WTeamName=filtered_data["WTeamID"].map(team_id_map),
    LTeamName=filtered_data["LTeamID"].map(team_id_map)
)[[
    "Season", "DayNum", 
    "WTeamID", "WTeamName", "WScore", 
    "LTeamID", "LTeamName", "LScore", 
    "WLoc", "NumOT"
] + [col for col in filtered_data.columns if col not in ["Season", "DayNum", "WTeamID", "WTeamName", "WScore", "LTeamID", "LTeamName", "LScore", "WLoc", "NumOT"]]]

# 데이터 확인
print(filtered_data.head())

        Season  DayNum  WTeamID    WTeamName  WScore  LTeamID    LTeamName  \
102032    2023       7     1101  abilene chr      65     1238   jackson st
102033    2023       7     1103        akron      81     1355  s dakota st
102034    2023       7     1104      alabama      75     1255     longwood
102035    2023       7     1112      arizona     117     1311     nicholls
102036    2023       7     1113   arizona st      62     1470  tarleton st

        LScore WLoc  NumOT  ...  LFTM  LFTA   LOR   LDR  LAst   LTO  LStl  \
102032      56    H      0  ...  10.0  14.0   7.0  33.0   9.0  21.0   6.0
102033      80    H      1  ...  14.0  17.0   5.0  28.0  11.0  12.0   3.0
102034      54    H      0  ...  11.0  19.0  12.0  23.0   8.0   9.0   8.0
102035      75    H      0  ...  10.0  22.0   8.0  14.0  11.0  16.0  17.0
102036      59    H      0  ...  19.0  32.0   5.0  28.0  10.0  17.0  12.0

        LBlk   LPF  Tournament_Type
102032   1.0  21.0          Regular
102033   4.0  15.0          Regular
102034   3.0  22.0          Regular
102035   1.0  29.0          Regular
102036   4.0  27.0          Regular

[5 rows x 37 columns]

In [11]:
# 데이터 가공 / 중요도 낮은 셀 제거
# ✅ 유지할 컬럼 리스트
selected_columns = [
    "Season", "DayNum", 
    "WTeamID", "WTeamName", "WScore", 
    "LTeamID", "LTeamName", "LScore", 
    "WLoc", "NumOT"
]

# ✅ 필요 없는 컬럼 제거 (selected_columns에 없는 컬럼 삭제)
filtered_data = filtered_data[selected_columns]
# 원하는 위치에 새로운 열 추가하기

# WTeamName 옆에 WORtg, WDRtg, WAdjT 추가
wteam_index = filtered_data.columns.get_loc("WTeamName") + 1  # WTeamName 다음 위치
for col in ["WORtg", "WDRtg", "WAdjT"]:
    filtered_data.insert(wteam_index, col, None)
    wteam_index += 1

# LTeamName 옆에 LORtg, LDRtg, LAdjT 추가
lteam_index = filtered_data.columns.get_loc("LTeamName") + 1  # LTeamName 다음 위치
for col in ["LORtg", "LDRtg", "LAdjT"]:
    filtered_data.insert(lteam_index, col, None)
    lteam_index += 1
# ✅ 데이터 확인
print("✅ 불필요한 컬럼 제거 완료!")
print(filtered_data.head())

✅ 불필요한 컬럼 제거 완료!
        Season  DayNum  WTeamID    WTeamName WORtg WDRtg WAdjT  WScore  \
102032    2023       7     1101  abilene chr  None  None  None      65
102033    2023       7     1103        akron  None  None  None      81
102034    2023       7     1104      alabama  None  None  None      75
102035    2023       7     1112      arizona  None  None  None     117
102036    2023       7     1113   arizona st  None  None  None      62

        LTeamID    LTeamName LORtg LDRtg LAdjT  LScore WLoc  NumOT
102032     1238   jackson st  None  None  None      56    H      0
102033     1355  s dakota st  None  None  None      80    H      1
102034     1255     longwood  None  None  None      54    H      0
102035     1311     nicholls  None  None  None      75    H      0
102036     1470  tarleton st  None  None  None      59    H      0

In [12]:
# import pandas as pd
# import re

# # ✅ 파일 로드 (로컬 경로 변경 필요)
# folder_path = "./kaggle_data/"  # 파일이 있는 폴더 경로
# seeds_df = pd.read_csv(f"{folder_path}MNCAATourneySeeds.csv")

# # ✅ 데이터 타입 변환 (Season & TeamID)
# seeds_df["Season"] = seeds_df["Season"].astype(int)
# seeds_df["TeamID"] = seeds_df["TeamID"].astype(int)
# filtered_data["Season"] = filtered_data["Season"].astype(int)
# filtered_data["WTeamID"] = filtered_data["WTeamID"].astype(int)
# filtered_data["LTeamID"] = filtered_data["LTeamID"].astype(int)

# # ✅ 시드 정보 전처리
# # 지역 코드(W, X, Y, Z) 추출
# seeds_df["SeedRegion"] = seeds_df["Seed"].str[0]  # 첫 번째 문자 추출
# # 시드 번호(숫자)만 추출 (예: "W01" → 1)
# seeds_df["SeedNum"] = seeds_df["Seed"].apply(lambda x: int(re.sub(r"\D", "", x)))

# # ✅ 매칭이 정상적으로 이루어지는지 확인
# print("✅ filtered_data Seasons:", filtered_data["Season"].unique())
# print("✅ seeds_df Seasons:", seeds_df["Season"].unique())

# # ✅ WTeamID(승리 팀), LTeamID(패배 팀) 기준으로 시드 정보 추가 (SeedRegion + SeedNum)
# filtered_data = filtered_data.merge(
#     seeds_df[["Season", "TeamID", "SeedNum", "SeedRegion"]],
#     left_on=["Season", "WTeamID"], right_on=["Season", "TeamID"], how="left"
# ).rename(columns={"SeedNum": "WTeamSeed", "SeedRegion": "WTeamSeedRegion"}).drop(columns=["TeamID"])

# filtered_data = filtered_data.merge(
#     seeds_df[["Season", "TeamID", "SeedNum", "SeedRegion"]],
#     left_on=["Season", "LTeamID"], right_on=["Season", "TeamID"], how="left"
# ).rename(columns={"SeedNum": "LTeamSeed", "SeedRegion": "LTeamSeedRegion"}).drop(columns=["TeamID"])

# # ✅ 데이터 확인
# print(filtered_data.head())

In [13]:

folder_path = "./kenpom/"  # CSV 파일이 있는 폴더 경로
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

if not os.path.exists(folder_path):
    print(f"❌ Error: Folder '{folder_path}' not found.")
else:
    # CSV 파일 목록 가져오기
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

    # 데이터 저장을 위한 딕셔너리 생성
    data_dict = {}

    # CSV 파일을 자동으로 변수에 할당
    for csv_file in csv_files:
        file_path = os.path.join(folder_path, csv_file)
        
        # 안전한 변수명 생성 (공백, 특수문자 제거)
        var_name = re.sub(r'[^a-zA-Z0-9_]', '_', os.path.splitext(csv_file)[0]).lower()
        
        try:
            # 여러 인코딩 시도 (utf-8, latin1, cp949)
            for encoding in ["utf-8", "latin1", "cp949"]:
                try:
                    df = pd.read_csv(file_path, encoding=encoding)
                    break  # 정상적으로 로드되면 반복 종료
                except UnicodeDecodeError:
                    continue  # 다른 인코딩으로 재시도
            
            # 데이터 저장 (딕셔너리 방식)
            data_dict[var_name] = df
            print(f"✅ Loaded {csv_file} as variable: data_dict['{var_name}']")

        except Exception as e:
            print(f"❌ Error loading {csv_file}: {e}")

    # 📌 데이터 목록 출력
    print("\n📌 Available datasets:")
    for key, value in data_dict.items():
        print(f"  - {key}: {value.shape} columns: {list(value.columns)}")

✅ Loaded 2020.csv as variable: data_dict['2020']
✅ Loaded 2021.csv as variable: data_dict['2021']
✅ Loaded 2022.csv as variable: data_dict['2022']
✅ Loaded 2023.csv as variable: data_dict['2023']
✅ Loaded 2024.csv as variable: data_dict['2024']
✅ Loaded 2025.csv as variable: data_dict['2025']

📌 Available datasets:
  - 2020: (353, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']
  - 2021: (357, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']
  - 2022: (358, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']
  - 2023: (363, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']
  - 2024: (362, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']
  - 2025: (364, 21) columns: ['Rk', 'Team', 'Conf', 'W - L', 'NetRtg', 'ORtg', 'Unnamed: 6', 'DRtg', 'Unnamed: 8', 'AdjT', 'Unnamed: 10', 'Luck', 'Unnamed: 12', 'Strength of Schedule NetRtg', 'Unnamed: 14', 'ORtg.1', 'Unnamed: 16', 'DRtg.1', 'Unnamed: 18', 'NCSOS NetRtg', 'Unnamed: 20']

In [14]:
data_dict.keys()

dict_keys(['2020', '2021', '2022', '2023', '2024', '2025'])

In [15]:
try:
    df = data_dict["2025"]
    print(df.head())  # 데이터 확인
except KeyError:
    print("❌ '2025' 키가 존재하지 않습니다.")

   Rk       Team Conf W - L  NetRtg   ORtg  Unnamed: 6  DRtg  Unnamed: 8  \
0   1     Auburn  SEC  23-2   36.67  130.9           1  94.2          13
1   2       Duke  ACC  23-3   36.39  127.4           2  91.0           4
2   3    Houston  B12  22-4   35.20  125.3           7  90.1           3
3   4    Florida  SEC  23-3   33.57  126.5           5  92.9           7
4   5  Tennessee  SEC  21-5   31.01  118.3          30  87.3           1

   AdjT  ...   Luck  Unnamed: 12  Strength of Schedule NetRtg  Unnamed: 14  \
0  68.4  ...  0.064           56                        17.00            1
1  65.6  ... -0.040          286                         8.26           56
2  60.9  ... -0.029          258                        10.84           32
3  69.3  ...  0.011          155                        10.03           39
4  63.8  ...  0.006          164                        12.34           18

   ORtg.1  Unnamed: 16  DRtg.1  Unnamed: 18  NCSOS NetRtg  Unnamed: 20
0   116.5            1    99.5            2          9.89           19
1   112.5           46   104.3           65          7.01           38
2   112.6           43   101.8           21          2.46           97
3   112.5           49   102.4           32         -1.74          216
4   115.7            4   103.4           54         -1.01          197

[5 rows x 21 columns]

In [16]:
data_dict["2024"].head()

,Rk,Team,Conf,W - L,NetRtg,ORtg,Unnamed: 6,DRtg,Unnamed: 8,AdjT,...,Luck,Unnamed: 12,Strength of Schedule NetRtg,Unnamed: 14,ORtg.1,Unnamed: 16,DRtg.1,Unnamed: 18,NCSOS NetRtg,Unnamed: 20
0,1,Connecticut 1,BE,37-3,36.43,127.5,1,91.1,4,64.6,...,0.037,95,12.42,12,113.2,11,100.8,24,-3.40,283
1,2,Houston 1,B12,32-5,31.17,118.9,19,87.7,2,63.5,...,0.042,86,11.57,23,111.9,37,100.3,13,-1.02,226
2,3,Purdue 1,B10,34-5,30.62,125.2,4,94.6,12,67.0,...,0.048,70,14.65,2,114.4,3,99.8,4,10.58,9
3,4,Auburn 4,SEC,27-8,27.99,120.4,10,92.4,6,70.0,...,-0.080,338,9.49,60,111.9,38,102.4,72,1.47,147
4,5,Tennessee 2,SEC,27-9,26.61,116.8,28,90.2,3,69.3,...,-0.026,257,13.35,8,114.6,2,101.2,40,8.97,19

In [17]:
import pandas as pd

# ✅ `Unnamed` 컬럼의 올바른 이름 매핑
column_mapping = {
    "Unnamed: 6": "ORtg_Rank",
    "Unnamed: 8": "DRtg_Rank",
    "Unnamed: 10": "AdjT_Rank",
    "Unnamed: 12": "Luck_Rank",
    "Unnamed: 14": "Strength_NetRtg_Rank",
    "ORtg.1": "Strength_ORtg",
    "Unnamed: 16": "Strength_ORtg_Rank",
    "DRtg.1": "Strength_DRtg",
    "Unnamed: 18": "Strength_DRtg_Rank",
    "Unnamed: 20": "NCSOS_NetRtg_Rank"
}

# ✅ 모든 KenPom 데이터 가공
processed_data_dict = {}  # 가공된 데이터를 저장할 새로운 딕셔너리

for year, df in data_dict.items():
    # ✅ 데이터프레임 복사 후 가공
    df_cleaned = df.copy()

    # ✅ 컬럼명 변경 (Unnamed → Rank 컬럼)
    df_cleaned.rename(columns=column_mapping, inplace=True)

    # ✅ 팀 이름 정리 (소문자로 변환)
    df_cleaned["Team"] = df_cleaned["Team"].str.lower().str.strip()

    # ✅ 필요 없는 `Unnamed` 컬럼 제거 (혹시 남아 있다면)
    df_cleaned = df_cleaned.loc[:, ~df_cleaned.columns.str.contains("Unnamed")]

    # ✅ 가공된 데이터 저장
    processed_data_dict[year] = df_cleaned
    print(f"✅ {year}년 KenPom 데이터 가공 완료! ({df_cleaned.shape})")

# ✅ 가공된 데이터를 기존 `data_dict`에 반영
data_dict = processed_data_dict

# ✅ 가공된 데이터 확인
for year, df in data_dict.items():
    print(f"📌 {year}년 데이터 샘플:")
    print(df.head())

✅ 2020년 KenPom 데이터 가공 완료! ((353, 21))
✅ 2021년 KenPom 데이터 가공 완료! ((357, 21))
✅ 2022년 KenPom 데이터 가공 완료! ((358, 21))
✅ 2023년 KenPom 데이터 가공 완료! ((363, 21))
✅ 2024년 KenPom 데이터 가공 완료! ((362, 21))
✅ 2025년 KenPom 데이터 가공 완료! ((364, 21))
📌 2020년 데이터 샘플:
   Rk        Team Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  AdjT  \
0   1   kansas 1*  B12  28-3   30.23  115.8          8  85.5          2  67.3
1   2  gonzaga 1*  WCC  31-2   26.95  121.3          1  94.4         43  71.9
2   3   baylor 1*  B12  26-4   25.49  113.5         17  88.1          4  66.2
3   4   dayton 1*  A10  29-2   24.93  119.1          2  94.1         38  67.6
4   5     duke 3*  ACC  25-6   24.62  115.7          9  91.1         12  72.0

   ...   Luck  Luck_Rank  Strength of Schedule NetRtg  Strength_NetRtg_Rank  \
0  ...  0.040         79                        12.66                     2
1  ...  0.050         50                         2.42                   109
2  ...  0.016        144                        10.20                    27
3  ...  0.002        180                         2.74                   105
4  ... -0.009        209                         7.28                    54

   Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  Strength_DRtg_Rank  \
0          107.4                  26           94.7                   1
1          103.5                 115          101.0                  99
2          106.4                  39           96.2                  11
3          104.1                 103          101.3                 105
4          106.0                  53           98.7                  58

   NCSOS NetRtg  NCSOS_NetRtg_Rank
0          9.58                 10
1         -2.09                245
2          1.38                132
3         -0.74                203
4          2.60                 85

[5 rows x 21 columns]
📌 2021년 데이터 샘플:
   Rk        Team  Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  \
0   1   gonzaga 1   WCC  31-1   36.48  126.4          1  89.9         11
1   2    baylor 1   B12  28-2   33.87  125.0          2  91.1         22
2   3  michigan 1   B10  23-5   29.67  117.6          9  87.9          4
3   4  illinois 1   B10  24-7   29.06  118.0          8  88.9          7
4   5   houston 2  Amer  28-4   28.75  118.3          7  89.6          9

   AdjT  ...   Luck  Luck_Rank  Strength of Schedule NetRtg  \
0  73.8  ...  0.022        127                        11.35
1  67.4  ...  0.046         80                        13.25
2  66.6  ...  0.007        156                        16.44
3  70.5  ...  0.022        128                        18.17
4  64.4  ...  0.018        133                         9.21

   Strength_NetRtg_Rank  Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  \
0                    72          108.1                  70           96.8
1                    54          108.7                  64           95.5
2                    19          111.7                   9           95.3
3                     5          112.3                   5           94.1
4                    90          105.7                 105           96.5

   Strength_DRtg_Rank  NCSOS NetRtg  NCSOS_NetRtg_Rank
0                  74          6.21                112
1                  44         -2.83                258
2                  39          2.51                178
3                  13         10.44                 59
4                  67          2.11                187

[5 rows x 21 columns]
📌 2022년 데이터 샘플:
   Rk       Team  Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  AdjT  \
0   1  gonzaga 1   WCC  28-4   30.95  120.7          3  89.7         10  72.5
1   2  houston 5  Amer  32-6   27.70  116.8         10  89.1          8  63.6
2   3   kansas 1   B12  34-6   27.49  119.2          6  91.7         17  69.3
3   4   baylor 1   B12  27-7   27.04  118.0          8  91.0         13  67.4
4   5  arizona 1   P12  33-4   25.96  118.6          7  92.6         21  72.2

   ...   Luck  Luck_Rank  Strength of Schedule NetRtg  Strength_NetRtg_Rank  \
0  ... -0.039        271                         4.24                    93
1  ... -0.012        203                         5.89                    75
2  ...  0.041         88                        12.60                     1
3  ...  0.004        163                        10.96                    13
4  ...  0.048         75                         6.45                    70

   Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  Strength_DRtg_Rank  \
0          104.6                 101          100.3                  89
1          105.5                  81           99.6                  62
2          108.0                  20           95.4                   1
3          107.4                  36           96.5                   7
4          105.9                  70           99.5                  58

   NCSOS NetRtg  NCSOS_NetRtg_Rank
0         -2.88                248
1          0.18                154
2          4.13                 49
3         -1.89                216
4         -0.78                180

[5 rows x 21 columns]
📌 2023년 데이터 샘플:
   Rk           Team  Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  \
0   1  connecticut 4    BE  31-8   29.86  120.8          3  90.9          7
1   2      houston 1  Amer  33-4   27.72  118.1         11  90.4          5
2   3         ucla 2   P12  31-6   27.29  115.2         21  88.0          2
3   4      alabama 1   SEC  31-6   27.28  115.5         20  88.2          3
4   5        texas 2   B12  29-9   24.43  116.5         15  92.1         13

   AdjT  ...   Luck  Luck_Rank  Strength of Schedule NetRtg  \
0  66.6  ... -0.056        304                        10.39
1  63.5  ...  0.023        122                         4.56
2  66.1  ... -0.009        218                         8.70
3  72.6  ...  0.057         56                        11.07
4  68.8  ...  0.017        140                        11.91

   Strength_NetRtg_Rank  Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  \
0                    17          109.7                  29           99.3
1                    89          107.2                  95          102.6
2                    39          109.2                  38          100.5
3                    11          110.2                  16           99.2
4                     7          111.1                   3           99.2

   Strength_DRtg_Rank  NCSOS NetRtg  NCSOS_NetRtg_Rank
0                  14         -1.75                208
1                  81         -0.03                161
2                  47          0.15                155
3                  10         10.46                  4
4                  12         -0.76                183

[5 rows x 21 columns]
📌 2024년 데이터 샘플:
   Rk           Team Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  \
0   1  connecticut 1   BE  37-3   36.43  127.5          1  91.1          4
1   2      houston 1  B12  32-5   31.17  118.9         19  87.7          2
2   3       purdue 1  B10  34-5   30.62  125.2          4  94.6         12
3   4       auburn 4  SEC  27-8   27.99  120.4         10  92.4          6
4   5    tennessee 2  SEC  27-9   26.61  116.8         28  90.2          3

   AdjT  ...   Luck  Luck_Rank  Strength of Schedule NetRtg  \
0  64.6  ...  0.037         95                        12.42
1  63.5  ...  0.042         86                        11.57
2  67.0  ...  0.048         70                        14.65
3  70.0  ... -0.080        338                         9.49
4  69.3  ... -0.026        257                        13.35

   Strength_NetRtg_Rank  Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  \
0                    12          113.2                  11          100.8
1                    23          111.9                  37          100.3
2                     2          114.4                   3           99.8
3                    60          111.9                  38          102.4
4                     8          114.6                   2          101.2

   Strength_DRtg_Rank  NCSOS NetRtg  NCSOS_NetRtg_Rank
0                  24         -3.40                283
1                  13         -1.02                226
2                   4         10.58                  9
3                  72          1.47                147
4                  40          8.97                 19

[5 rows x 21 columns]
📌 2025년 데이터 샘플:
   Rk       Team Conf W - L  NetRtg   ORtg  ORtg_Rank  DRtg  DRtg_Rank  AdjT  \
0   1     auburn  SEC  23-2   36.67  130.9          1  94.2         13  68.4
1   2       duke  ACC  23-3   36.39  127.4          2  91.0          4  65.6
2   3    houston  B12  22-4   35.20  125.3          7  90.1          3  60.9
3   4    florida  SEC  23-3   33.57  126.5          5  92.9          7  69.3
4   5  tennessee  SEC  21-5   31.01  118.3         30  87.3          1  63.8

   ...   Luck  Luck_Rank  Strength of Schedule NetRtg  Strength_NetRtg_Rank  \
0  ...  0.064         56                        17.00                     1
1  ... -0.040        286                         8.26                    56
2  ... -0.029        258                        10.84                    32
3  ...  0.011        155                        10.03                    39
4  ...  0.006        164                        12.34                    18

   Strength_ORtg  Strength_ORtg_Rank  Strength_DRtg  Strength_DRtg_Rank  \
0          116.5                   1           99.5                   2
1          112.5                  46          104.3                  65
2          112.6                  43          101.8                  21
3          112.5                  49          102.4                  32
4          115.7                   4          103.4                  54

   NCSOS NetRtg  NCSOS_NetRtg_Rank
0          9.89                 19
1          7.01                 38
2          2.46                 97
3         -1.74                216
4         -1.01                197

[5 rows x 21 columns]

In [18]:
data_dict["2024"].head()

,Rk,Team,Conf,W - L,NetRtg,ORtg,ORtg_Rank,DRtg,DRtg_Rank,AdjT,...,Luck,Luck_Rank,Strength of Schedule NetRtg,Strength_NetRtg_Rank,Strength_ORtg,Strength_ORtg_Rank,Strength_DRtg,Strength_DRtg_Rank,NCSOS NetRtg,NCSOS_NetRtg_Rank
0,1,connecticut 1,BE,37-3,36.43,127.5,1,91.1,4,64.6,...,0.037,95,12.42,12,113.2,11,100.8,24,-3.40,283
1,2,houston 1,B12,32-5,31.17,118.9,19,87.7,2,63.5,...,0.042,86,11.57,23,111.9,37,100.3,13,-1.02,226
2,3,purdue 1,B10,34-5,30.62,125.2,4,94.6,12,67.0,...,0.048,70,14.65,2,114.4,3,99.8,4,10.58,9
3,4,auburn 4,SEC,27-8,27.99,120.4,10,92.4,6,70.0,...,-0.080,338,9.49,60,111.9,38,102.4,72,1.47,147
4,5,tennessee 2,SEC,27-9,26.61,116.8,28,90.2,3,69.3,...,-0.026,257,13.35,8,114.6,2,101.2,40,8.97,19

In [19]:
filtered_data.head()

,Season,DayNum,WTeamID,WTeamName,WORtg,WDRtg,WAdjT,WScore,LTeamID,LTeamName,LORtg,LDRtg,LAdjT,LScore,WLoc,NumOT
102032,2023,7,1101,abilene chr,None,None,None,65,1238,jackson st,None,None,None,56,H,0
102033,2023,7,1103,akron,None,None,None,81,1355,s dakota st,None,None,None,80,H,1
102034,2023,7,1104,alabama,None,None,None,75,1255,longwood,None,None,None,54,H,0
102035,2023,7,1112,arizona,None,None,None,117,1311,nicholls,None,None,None,75,H,0
102036,2023,7,1113,arizona st,None,None,None,62,1470,tarleton st,None,None,None,59,H,0

In [20]:
# ✅ 4️⃣ KenPom 데이터를 filtered_data에 병합 (벡터화된 merge() 적용)
# for season, kenpom_df in data_dict.items():
#     # ✅ Season을 기준으로 해당 시즌의 데이터만 선택
#     season_mask = filtered_data["Season"] == season
#     filtered_season_data = filtered_data[season_mask]
    
#     # ✅ WTeam 데이터 병합
#     filtered_season_data = filtered_season_data.merge(
#         kenpom_df.rename(columns={"Team": "MatchedWTeamName"}), 
#         on="MatchedWTeamName", how="left"
#     ).rename(columns={col: f"WTeam{col}" for col in ["AdjEM", "ORtg", "DRtg", "AdjT", "SoS"]})
    
#     # ✅ LTeam 데이터 병합
#     filtered_season_data = filtered_season_data.merge(
#         kenpom_df.rename(columns={"Team": "MatchedLTeamName"}), 
#         on="MatchedLTeamName", how="left"
#     ).rename(columns={col: f"LTeam{col}" for col in ["AdjEM", "ORtg", "DRtg", "AdjT", "SoS"]})
    
#     # ✅ 결과를 원래 데이터에 반영
#     filtered_data.loc[season_mask] = filtered_season_data

# print("✅ KenPom 데이터 병합 완료!")

In [27]:
manual_mapping = {
    # (1) 대표적인 NCAA 약어들
    "byu": "brigham young",
    "vcu": "virginia commonwealth",
    "usc": "southern california",
    "ucf": "central florida",
    "lsu": "louisiana state",
    "unlv": "nevada-las vegas",   # University of Nevada, Las Vegas
    "uab": "alabama-birmingham", # University of Alabama at Birmingham
    "csun": "california state-northridge",
    "utep": "texas-el paso",     # University of Texas at El Paso
    "utsa": "texas-san antonio", # University of Texas at San Antonio

    # (2) 화면에서 잘못 매칭된 팀들 (약칭/줄임 → 표준 풀네임)
    "siue": "southern illinois edwardsville",
    "ut rio grande valley": "texas rio grande valley",   # University of Texas Rio Grande Valley
    "umbc": "maryland-baltimore county",                 # University of Maryland-Baltimore County
    "vmi": "virginia military institute",
    "mount st. mary's": "mount st. mary’s",              # (Maryland) vs. “Saint Mary’s” (California) 구분
    "iu indy": "Indiana - Purdue",                                  # 인디애나-퍼듀 인디애나폴리스 (Indiana University – Purdue University Indianapolis)
    "njit": "new jersey institute of technology",
    "sacramento st.": "california state-sacramento",
    "UC Davis": "california-davis",
    "uc riverside": "california-riverside",
    "uc santa barbara": "california-santa barbara",
    "uc irvine": "california-irvine",
    "St. Thomas": "saint thomas(min.n)"

        
    # 필요 시 계속 추가
}
manual_mapping_lower = {k.lower(): v for k, v in manual_mapping.items()}

# 📌 KenPom 데이터의 "Team" 컬럼을 manual_mapping을 사용하여 변환
for season, df in data_dict.items():
    if "Team" in df.columns:  # "Team" 컬럼이 존재하는 경우만 변환
        df["Team"] = df["Team"].str.lower().str.strip().replace(manual_mapping_lower)

print("✅ 모든 KenPom 데이터에서 'Team' 컬럼을 표준화된 명칭으로 변환 완료!")

✅ 모든 KenPom 데이터에서 'Team' 컬럼을 표준화된 명칭으로 변환 완료!

In [22]:
filtered_data.head()

,Season,DayNum,WTeamID,WTeamName,WORtg,WDRtg,WAdjT,WScore,LTeamID,LTeamName,LORtg,LDRtg,LAdjT,LScore,WLoc,NumOT
102032,2023,7,1101,abilene chr,None,None,None,65,1238,jackson st,None,None,None,56,H,0
102033,2023,7,1103,akron,None,None,None,81,1355,s dakota st,None,None,None,80,H,1
102034,2023,7,1104,alabama,None,None,None,75,1255,longwood,None,None,None,54,H,0
102035,2023,7,1112,arizona,None,None,None,117,1311,nicholls,None,None,None,75,H,0
102036,2023,7,1113,arizona st,None,None,None,62,1470,tarleton st,None,None,None,59,H,0

In [28]:
import pandas as pd
from thefuzz import fuzz, process

# 기준 파일에서 팀 리스트 추출
df_base = data_dict["2025"]
base_teams = df['Team'].dropna().unique().tolist()

In [29]:
import pandas as pd

# (1) 'filtered_data.csv' 읽기
filtered_data = pd.read_csv('filtered_data.csv')

# (2) 2025 시즌만 필터링
subset_2025 = filtered_data[filtered_data['Season'] == 2025]

# (3) WteamName, LteamName에 등장하는 팀들을 합쳐서 set으로 만들기 (중복 제거)
w_teams = subset_2025['WTeamName'].dropna().unique().tolist()
l_teams = subset_2025['LTeamName'].dropna().unique().tolist()

target_teams_set = set(w_teams) | set(l_teams)  # 합집합
target_teams = list(target_teams_set)  # 리스트로 변환

print("2025 시즌에서 등장한 모든 팀 (WteamName + LteamName):")
print(target_teams)

2025 시즌에서 등장한 모든 팀 (WteamName + LteamName):
['n.c. state', 'e michigan', 'ma lowell', 'fl atlantic', 'maine', 'long beach st', 'tulsa', 'LIU', 'uc san diego', 'south ala.', 'saint francis (pa)', 'duquesne', 'louisville', 'tenn-martin', 'rhode island', 'lipscomb', 'alabama a&m', 'illinois st', 'providence', 'fresno st', 'campbell', 'dartmouth', 'depaul', 'kennesaw', 'bellarmine', 'bryant', 'north florida', 'maryland - e. shore', 'colgate', 'ga southern', 'rutgers', "saint joseph's", 'stanford', 'saint thomas (minn.)', 'north carolina', 'n.j.i.t.', 'va commonwealth', 'east carolina', 'Kansas City', 'fordham', 'west virginia', 'michigan st', 'detroit', 'army', 'northeastern', 'coastal car', 'a&m-corpus chris', 'alabama', 'lindenwood', 'colorado st', 'elon', 'citadel', 'florida st', 'green bay', 'fort wayne', 'manhattan', 'miami (fl)', 'texas arlington', 'seton hall', 'indiana', 'canisius', 'stony brook', 'louisiana state', 'presbyterian', 'sam houston', 'ark little rock', 'edwardsville', 'boise st', 'valparaiso', 'villanova', 'wyoming', 'howard', 'cal st. fullerton', 'oklahoma st', 'bakersfield', 'charleston so', 'syracuse', 'pepperdine', 'new orleans', 'loyola (il)', 'fiu', 'sf austin', 'nc wilmington', 'oregon', 'grambling', 'south dakota', 'wright st', 'e kentucky', 'n. carolina a&t', 'prairie view', 'james madison', 'gardner webb', 'evansville', "saint peter's", 'niagara', 'rice', 'north texas', 'morgan st', 'ball st', 'estern carolina', 'e washington', 'tennessee', 'virginia military', 'longwood', 'iowa', 'towson', 'richmond', 'oregon st', 'louisiana tech', 'wagner', 'california', 'radford', 'texas', 'xavier', 'georgetown', 'gonzaga', 'le moyne', 'wofford', 'tex.-pan american', 'miami (oh)', 'maryland-baltimore county', 'illinois', 'austin peay', 'cs sacramento', 'tulane', 'indiana - purdue', 'sc upstate', 'georgia', 'san diego st', 'binghamton', 'furman', 'texas-el paso', 'grand canyon', 'alabama-birmingham', 'arizona', 'chattanooga', 'duke', 'wichita st', 'kentucky', 'norfolk st', 'mount saint mary`s', 'creighton', 'lehigh', 'siena', 'marist', 'utah valley', 'charlotte', 'youngstown st', 'drake', 'auburn', 'bethune-cookman', 'mississippi', 'florida a&m', 'incarnate word', 'memphis', 'central florida', 'idaho st', 'cal riverside', 'new mexico st', 'american', 'florida', 'nc greensboro', 'dayton', 'santa clara', 'jacksonville', 'tennessee st', 'old dominion', 'montana st', 'se louisiana', 'fairfield', 'winthrop', 'harvard', 'miss valley st.', 'penn', 'hampton', 'West Georgia', 'massachusetts', 'washington st', 'akron', 'denver', 'north ala.', 's dakota st', 'loyola (md)', 'samford', 'northern iowa', 'tcu', 'Mercyhurst', 'iowa st', 'mississippi st', 'holy cross', 'oklahoma', 'saint john`s', 'seattle', 'nicholls', 'portland st', 'tennessee tech', 'baylor', 'columbia', 'minnesota', 'notre dame', 'merrimack', 'n.c. central', 'san francisco', 'southern indiana', 'southern california', 'quinnipiac', 'lafayette', 'brigham young', 'cent arkansas', 'southern miss', 'penn st', 'texas southern', 'california-davis', "hawai'i", 'la.-lafayette', 'marquette', 'san jose st', 'missouri', 'f dickinson', 'ohio st', 'wisconsin', 'air force', 'boston college', 'monmouth', 'new hampshire', 'robert morris', 'n kentucky', 'virginia tech', 'n dakota st', 'cincinnati', 'northern ariz.', 'yale', 'appalachian st', 'oral roberts', 'coppin st', 'san diego', 'stonehill', 'georgia st', 'california-santa barbara', 'colorado', 'princeton', 'cal baptist', 'cal st. northridge', 'delaware st', 'southern utah', 'stetson', 'arizona st', 'houston', 'wake forest', 'california-irvine', 'south fla.', 'mcneese', 'missouri st', 'north dakota', 'arkansas', 'connecticut', 'oakland', 'nevada', 'e illinois', 'ark pine bluff', 'delaware', 'n.c. asheville', 'ne omaha', 'vermont', 'brown', 'w kentucky', 'high point', 'chicago st', 'boston', 'la salle', 'william & mary', 's illinois', 'cal poly', 'davidson', 'houston bap', 'abilene chr', 'troy', 'w illinois', 'nebraska', 'maryland', 'alcorn', 'hofstra', 'kent', "saint mary's", 'fgcu', 'East Texas A&M', 'south carolina', 'butler', 'toledo', 'saint bonaventure', 'bradley', 'clemson', 'cleveland st', 'w michigan', 'temple', 'middle tenn st', 'texas san antonio', 'g washington', 'central conn', 'sacred heart', 'utah st', 'southern', 'georgia tech', 'navy', 'albany', 'Queens (NC)', 'smu', 'drexel', 'morehead st', 'tarleton st', 'arkansas st', 'east tenn. st.', 's carolina st', 'pitt', 'new mexico', 'bowling green', 'montana', 'northwestern la', 'portland', 'se missouri st', 'mercer', 'iona', 'texas st', 'purdue', 'kansas st', 'jacksonville st', 'texas tech', 'vanderbilt', 'liberty', 'alabama st', 'indiana st', 'cornell', 'idaho', 'jackson st', 'michigan', 'milwaukee', 'marshall', 'lamar', 'ohio', 'george mason', 'washington', 'rider', 'kansas', 'bucknell', 'il chicago', 'nevada-las vegas', 'ucla', 'la-monroe', 'n colorado', 'c michigan', 'murray st', 'buffalo', 'weber st', 'loy marymount', 'utah', 'northwestern', 'virginia', 'texas a&m', 'pacific', 'dixie st', 'n illinois', 'charleston', 'belmont', 'saint louis']

In [30]:
threshold = 90
matched = {}
unmatched = []

for team in base_teams:
    # process.extractOne(비교할 문자열, 후보 리스트, scorer)
    best_match, score = process.extractOne(team, target_teams, scorer=fuzz.token_sort_ratio)
    
    if score >= threshold:
        # 확실히 대소문자 정도만 차이나거나, 유사도가 높은 경우 자동 매칭
        matched[team] = (best_match, score)
    else:
        # 점수가 낮은 항목은 따로 모음 -> 사람이 나중에 확인
        unmatched.append((team, best_match, score))

# 이제 matched와 unmatched를 각각 확인
print("자동 매칭된 항목들:")
for k, v in matched.items():
    print(f" - {k} -> {v[0]} (score={v[1]})")

print("\n매칭 애매(낮은 점수) 항목들:")
for item in unmatched:
    team, best_match, score = item
    print(f" - {team} -> {best_match} (score={score})")

자동 매칭된 항목들:
 - auburn -> auburn (score=100)
 - duke -> duke (score=100)
 - houston -> houston (score=100)
 - florida -> florida (score=100)
 - tennessee -> tennessee (score=100)
 - alabama -> alabama (score=100)
 - wisconsin -> wisconsin (score=100)
 - texas tech -> texas tech (score=100)
 - iowa st. -> iowa st (score=100)
 - arizona -> arizona (score=100)
 - gonzaga -> gonzaga (score=100)
 - purdue -> purdue (score=100)
 - michigan st. -> michigan st (score=100)
 - maryland -> maryland (score=100)
 - missouri -> missouri (score=100)
 - texas a&m -> texas a&m (score=100)
 - kentucky -> kentucky (score=100)
 - saint mary's -> saint mary's (score=100)
 - michigan -> michigan (score=100)
 - illinois -> illinois (score=100)
 - mississippi -> mississippi (score=100)
 - kansas -> kansas (score=100)
 - clemson -> clemson (score=100)
 - louisville -> louisville (score=100)
 - marquette -> marquette (score=100)
 - ohio st. -> ohio st (score=100)
 - ucla -> ucla (score=100)
 - mississippi st. -> mississippi st (score=100)
 - baylor -> baylor (score=100)
 - brigham young -> brigham young (score=100)
 - creighton -> creighton (score=100)
 - texas -> texas (score=100)
 - oregon -> oregon (score=100)
 - connecticut -> connecticut (score=100)
 - nebraska -> nebraska (score=100)
 - new mexico -> new mexico (score=100)
 - arkansas -> arkansas (score=100)
 - uc san diego -> uc san diego (score=100)
 - san diego st. -> san diego st (score=100)
 - vanderbilt -> vanderbilt (score=100)
 - georgia -> georgia (score=100)
 - west virginia -> west virginia (score=100)
 - smu -> smu (score=100)
 - memphis -> memphis (score=100)
 - north carolina -> north carolina (score=100)
 - oklahoma -> oklahoma (score=100)
 - boise st. -> boise st (score=100)
 - utah st. -> utah st (score=100)
 - xavier -> xavier (score=100)
 - cincinnati -> cincinnati (score=100)
 - indiana -> indiana (score=100)
 - villanova -> villanova (score=100)
 - southern california -> southern california (score=100)
 - santa clara -> santa clara (score=100)
 - northwestern -> northwestern (score=100)
 - kansas st. -> kansas st (score=100)
 - wake forest -> wake forest (score=100)
 - san francisco -> san francisco (score=100)
 - drake -> drake (score=100)
 - arizona st. -> arizona st (score=100)
 - north texas -> north texas (score=100)
 - yale -> yale (score=100)
 - iowa -> iowa (score=100)
 - california-irvine -> california-irvine (score=100)
 - liberty -> liberty (score=100)
 - colorado st. -> colorado st (score=100)
 - mcneese -> mcneese (score=100)
 - george mason -> george mason (score=100)
 - butler -> butler (score=100)
 - central florida -> central florida (score=100)
 - nevada -> nevada (score=100)
 - utah -> utah (score=100)
 - louisiana state -> louisiana state (score=100)
 - penn st. -> penn st (score=100)
 - dayton -> dayton (score=100)
 - rutgers -> rutgers (score=100)
 - oregon st. -> oregon st (score=100)
 - tcu -> tcu (score=100)
 - providence -> providence (score=100)
 - south carolina -> south carolina (score=100)
 - saint joseph's -> saint joseph's (score=100)
 - minnesota -> minnesota (score=100)
 - georgetown -> georgetown (score=100)
 - florida st. -> florida st (score=100)
 - arkansas st. -> arkansas st (score=100)
 - lipscomb -> lipscomb (score=100)
 - stanford -> stanford (score=100)
 - bradley -> bradley (score=100)
 - notre dame -> notre dame (score=100)
 - high point -> high point (score=100)
 - washington -> washington (score=100)
 - akron -> akron (score=100)
 - colorado -> colorado (score=100)
 - nevada-las vegas -> nevada-las vegas (score=100)
 - st. bonaventure -> saint bonaventure (score=90)
 - grand canyon -> grand canyon (score=100)
 - northern iowa -> northern iowa (score=100)
 - samford -> samford (score=100)
 - troy -> troy (score=100)
 - virginia -> virginia (score=100)
 - oklahoma st. -> oklahoma st (score=100)
 - georgia tech -> georgia tech (score=100)
 - washington st. -> washington st (score=100)
 - chattanooga -> chattanooga (score=100)
 - jacksonville st. -> jacksonville st (score=100)
 - n.c. state -> n.c. state (score=100)
 - alabama-birmingham -> alabama-birmingham (score=100)
 - saint thomas(min.n) -> saint thomas (minn.) (score=97)
 - unc wilmington -> nc wilmington (score=96)
 - rhode island -> rhode island (score=100)
 - california -> california (score=100)
 - unc greensboro -> nc greensboro (score=96)
 - saint louis -> saint louis (score=100)
 - davidson -> davidson (score=100)
 - depaul -> depaul (score=100)
 - utah valley -> utah valley (score=100)
 - syracuse -> syracuse (score=100)
 - appalachian st. -> appalachian st (score=100)
 - wichita st. -> wichita st (score=100)
 - belmont -> belmont (score=100)
 - milwaukee -> milwaukee (score=100)
 - texas-el paso -> texas-el paso (score=100)
 - louisiana tech -> louisiana tech (score=100)
 - california-santa barbara -> california-santa barbara (score=100)
 - illinois st. -> illinois st (score=100)
 - duquesne -> duquesne (score=100)
 - wofford -> wofford (score=100)
 - james madison -> james madison (score=100)
 - murray st. -> murray st (score=100)
 - east carolina -> east carolina (score=100)
 - tulane -> tulane (score=100)
 - seattle -> seattle (score=100)
 - cal baptist -> cal baptist (score=100)
 - temple -> temple (score=100)
 - bryant -> bryant (score=100)
 - new mexico st. -> new mexico st (score=100)
 - towson -> towson (score=100)
 - charleston -> charleston (score=100)
 - princeton -> princeton (score=100)
 - furman -> furman (score=100)
 - robert morris -> robert morris (score=100)
 - cleveland st. -> cleveland st (score=100)
 - virginia tech -> virginia tech (score=100)
 - loyola marymount -> loy marymount (score=90)
 - cornell -> cornell (score=100)
 - elon -> elon (score=100)
 - san jose st. -> san jose st (score=100)
 - miami oh -> miami (oh) (score=100)
 - campbell -> campbell (score=100)
 - norfolk st. -> norfolk st (score=100)
 - wyoming -> wyoming (score=100)
 - radford -> radford (score=100)
 - jacksonville -> jacksonville (score=100)
 - miami fl -> miami (fl) (score=100)
 - rice -> rice (score=100)
 - lamar -> lamar (score=100)
 - massachusetts -> massachusetts (score=100)
 - ohio -> ohio (score=100)
 - nicholls -> nicholls (score=100)
 - youngstown st. -> youngstown st (score=100)
 - montana -> montana (score=100)
 - oakland -> oakland (score=100)
 - boston college -> boston college (score=100)
 - montana st. -> montana st (score=100)
 - marshall -> marshall (score=100)
 - longwood -> longwood (score=100)
 - merrimack -> merrimack (score=100)
 - portland st. -> portland st (score=100)
 - texas st. -> texas st (score=100)
 - quinnipiac -> quinnipiac (score=100)
 - winthrop -> winthrop (score=100)
 - maine -> maine (score=100)
 - indiana st. -> indiana st (score=100)
 - northeastern -> northeastern (score=100)
 - texas-san antonio -> texas san antonio (score=100)
 - south carolina st. -> south carolina (score=90)
 - seton hall -> seton hall (score=100)
 - wright st. -> wright st (score=100)
 - drexel -> drexel (score=100)
 - hawaii -> hawai'i (score=92)
 - dartmouth -> dartmouth (score=100)
 - william & mary -> william & mary (score=100)
 - brown -> brown (score=100)
 - toledo -> toledo (score=100)
 - fordham -> fordham (score=100)
 - hofstra -> hofstra (score=100)
 - southern -> southern (score=100)
 - cal poly -> cal poly (score=100)
 - california-davis -> california-davis (score=100)
 - marist -> marist (score=100)
 - idaho st. -> idaho st (score=100)
 - pepperdine -> pepperdine (score=100)
 - missouri st. -> missouri st (score=100)
 - la salle -> la salle (score=100)
 - bucknell -> bucknell (score=100)
 - valparaiso -> valparaiso (score=100)
 - kansas city -> Kansas City (score=100)
 - richmond -> richmond (score=100)
 - gardner webb -> gardner webb (score=100)
 - siena -> siena (score=100)
 - hampton -> hampton (score=100)
 - american -> american (score=100)
 - north florida -> north florida (score=100)
 - south dakota -> south dakota (score=100)
 - delaware -> delaware (score=100)
 - colgate -> colgate (score=100)
 - columbia -> columbia (score=100)
 - jackson st. -> jackson st (score=100)
 - manhattan -> manhattan (score=100)
 - presbyterian -> presbyterian (score=100)
 - vermont -> vermont (score=100)
 - mercer -> mercer (score=100)
 - northern arizona -> northern ariz. (score=90)
 - fresno st. -> fresno st (score=100)
 - tennessee st. -> tennessee st (score=100)
 - incarnate word -> incarnate word (score=100)
 - evansville -> evansville (score=100)
 - mount st. mary’s -> mount saint mary`s (score=91)
 - idaho -> idaho (score=100)
 - georgia st. -> georgia st (score=100)
 - charlotte -> charlotte (score=100)
 - fiu -> fiu (score=100)
 - tulsa -> tulsa (score=100)
 - albany -> albany (score=100)
 - ball st. -> ball st (score=100)
 - southern utah -> southern utah (score=100)
 - southern miss -> southern miss (score=100)
 - pacific -> pacific (score=100)
 - harvard -> harvard (score=100)
 - maryland-baltimore county -> maryland-baltimore county (score=100)
 - north dakota -> north dakota (score=100)
 - sacred heart -> sacred heart (score=100)
 - iona -> iona (score=100)
 - bethune cookman -> bethune-cookman (score=100)
 - lehigh -> lehigh (score=100)
 - austin peay -> austin peay (score=100)
 - navy -> navy (score=100)
 - monmouth -> monmouth (score=100)
 - penn -> penn (score=100)
 - tarleton st. -> tarleton st (score=100)
 - portland -> portland (score=100)
 - texas southern -> texas southern (score=100)
 - army -> army (score=100)
 - saint peter's -> saint peter's (score=100)
 - delaware st. -> delaware st (score=100)
 - san diego -> san diego (score=100)
 - lafayette -> lafayette (score=100)
 - tennessee tech -> tennessee tech (score=100)
 - alabama st. -> alabama st (score=100)
 - old dominion -> old dominion (score=100)
 - weber st. -> weber st (score=100)
 - stonehill -> stonehill (score=100)
 - howard -> howard (score=100)
 - bowling green -> bowling green (score=100)
 - liu -> LIU (score=100)
 - air force -> air force (score=100)
 - long beach st. -> long beach st (score=100)
 - binghamton -> binghamton (score=100)
 - florida a&m -> florida a&m (score=100)
 - niagara -> niagara (score=100)
 - rider -> rider (score=100)
 - holy cross -> holy cross (score=100)
 - loyola md -> loyola (md) (score=100)
 - oral roberts -> oral roberts (score=100)
 - morehead st. -> morehead st (score=100)
 - saint francis -> saint francis (pa) (score=90)
 - indiana - purdue -> indiana - purdue (score=100)
 - denver -> denver (score=100)
 - morgan st. -> morgan st (score=100)
 - east texas a&m -> East Texas A&M (score=100)
 - lindenwood -> lindenwood (score=100)
 - stony brook -> stony brook (score=100)
 - western carolina -> estern carolina (score=97)
 - cal st. fullerton -> cal st. fullerton (score=100)
 - green bay -> green bay (score=100)
 - southern indiana -> southern indiana (score=100)
 - west georgia -> West Georgia (score=100)
 - new orleans -> new orleans (score=100)
 - fairfield -> fairfield (score=100)
 - bellarmine -> bellarmine (score=100)
 - mercyhurst -> Mercyhurst (score=100)
 - buffalo -> buffalo (score=100)
 - central arkansas -> cent arkansas (score=90)
 - wagner -> wagner (score=100)
 - stetson -> stetson (score=100)
 - le moyne -> le moyne (score=100)
 - alabama a&m -> alabama a&m (score=100)
 - new hampshire -> new hampshire (score=100)
 - canisius -> canisius (score=100)
 - chicago st. -> chicago st (score=100)
 - coppin st. -> coppin st (score=100)

매칭 애매(낮은 점수) 항목들:
 - st. john's -> saint john`s (score=86)
 - virginia commonwealth -> va commonwealth (score=83)
 - pittsburgh -> pitt (score=57)
 - south dakota st. -> south dakota (score=89)
 - florida atlantic -> fl atlantic (score=81)
 - george washington -> e washington (score=83)
 - middle tennessee -> tennessee tech (score=73)
 - north alabama -> north ala. (score=82)
 - western kentucky -> n kentucky (score=77)
 - california state-northridge -> cal st. northridge (score=77)
 - loyola chicago -> il chicago (score=75)
 - south alabama -> alabama st (score=87)
 - kent st. -> kent (score=73)
 - kennesaw st. -> kennesaw (score=84)
 - north dakota st. -> north dakota (score=89)
 - illinois chicago -> il chicago (score=77)
 - east tennessee st. -> tennessee st (score=83)
 - california-riverside -> california-irvine (score=81)
 - northern colorado -> n colorado (score=74)
 - purdue fort wayne -> fort wayne (score=74)
 - florida gulf coast -> florida a&m (score=69)
 - unc asheville -> n.c. asheville (score=85)
 - sam houston st. -> sam houston (score=88)
 - eastern kentucky -> e kentucky (score=77)
 - texas a&m corpus chris -> a&m-corpus chris (score=84)
 - central connecticut -> central conn (score=77)
 - southern illinois -> illinois st (score=79)
 - southeastern louisiana -> louisiana state (score=81)
 - central michigan -> e michigan (score=77)
 - little rock -> ark little rock (score=85)
 - south florida -> florida st (score=87)
 - nebraska omaha -> ne omaha (score=73)
 - southeast missouri -> se missouri st (score=81)
 - ut arlington -> texas arlington (score=81)
 - queens -> Queens (NC) (score=80)
 - abilene christian -> abilene chr (score=79)
 - southern illinois edwardsville -> edwardsville (score=57)
 - texas rio grande valley -> miss valley st. (score=54)
 - umass lowell -> ma lowell (score=86)
 - cal st. bakersfield -> bakersfield (score=76)
 - eastern washington -> washington st (score=84)
 - stephen f. austin -> austin peay (score=67)
 - northwestern st. -> northwestern (score=89)
 - georgia southern -> ga southern (score=81)
 - northern kentucky -> n kentucky (score=74)
 - virginia military institute -> virginia military (score=77)
 - charleston southern -> charleston so (score=81)
 - houston christian -> houston bap (score=64)
 - tennessee martin -> tenn-martin (score=81)
 - eastern michigan -> e michigan (score=77)
 - western michigan -> michigan st (score=81)
 - utah tech -> utah st (score=75)
 - boston university -> saint bonaventure (score=53)
 - fairleigh dickinson -> f dickinson (score=73)
 - alcorn st. -> alcorn (score=80)
 - louisiana -> se louisiana (score=86)
 - north carolina central -> north carolina (score=78)
 - grambling st. -> grambling (score=86)
 - north carolina a&t -> north carolina (score=88)
 - detroit mercy -> detroit (score=70)
 - coastal carolina -> east carolina (score=83)
 - usc upstate -> sc upstate (score=67)
 - eastern illinois -> e illinois (score=77)
 - louisiana monroe -> se louisiana (score=79)
 - california state-sacramento -> southern california (score=65)
 - northern illinois -> n illinois (score=74)
 - prairie view a&m -> prairie view (score=86)
 - new jersey institute of technology -> southern utah (score=38)
 - western illinois -> illinois st (score=81)
 - the citadel -> citadel (score=78)
 - maryland eastern shore -> maryland - e. shore (score=84)
 - arkansas pine bluff -> ark pine bluff (score=85)
 - mississippi valley st. -> miss valley st. (score=80)

In [26]:
data_dict["2024"]

,Rk,Team,Conf,W - L,NetRtg,ORtg,ORtg_Rank,DRtg,DRtg_Rank,AdjT,...,Luck,Luck_Rank,Strength of Schedule NetRtg,Strength_NetRtg_Rank,Strength_ORtg,Strength_ORtg_Rank,Strength_DRtg,Strength_DRtg_Rank,NCSOS NetRtg,NCSOS_NetRtg_Rank
0,1,connecticut 1,BE,37-3,36.43,127.5,1,91.1,4,64.6,...,0.037,95,12.42,12,113.2,11,100.8,24,-3.40,283
1,2,houston 1,B12,32-5,31.17,118.9,19,87.7,2,63.5,...,0.042,86,11.57,23,111.9,37,100.3,13,-1.02,226
2,3,purdue 1,B10,34-5,30.62,125.2,4,94.6,12,67.0,...,0.048,70,14.65,2,114.4,3,99.8,4,10.58,9
3,4,auburn 4,SEC,27-8,27.99,120.4,10,92.4,6,70.0,...,-0.080,338,9.49,60,111.9,38,102.4,72,1.47,147
4,5,tennessee 2,SEC,27-9,26.61,116.8,28,90.2,3,69.3,...,-0.026,257,13.35,8,114.6,2,101.2,40,8.97,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,358,pacific,WCC,6-26,-22.84,95.3,339,118.1,359,68.4,...,-0.014,223,-0.13,167,106.2,173,106.4,176,-5.22,315
358,359,stonehill,NEC,4-27,-22.93,91.9,354,114.8,344,67.7,...,-0.078,335,-5.10,302,102.1,322,107.2,224,4.10,80
359,360,iupui,Horz,6-26,-25.61,92.3,353,117.9,358,67.5,...,-0.019,244,-3.06,247,106.1,179,109.2,338,-4.33,303
360,361,coppin st.,MEAC,2-27,-25.73,85.7,361,111.4,285,66.2,...,-0.057,311,-5.12,305,102.9,302,108.0,272,0.66,169
361,362,mississippi valley st.,SWAC,1-30,-30.83,85.5,362,116.3,353,64.7,...,-0.060,317,-2.12,223,104.4,263,106.5,185,15.26,2